<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36})[%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.grpc" level="ERROR" />
    <logger name="io.netty" level="ERROR" />    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
